@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}
@keyframes fadeSlide {
    0% { opacity: 1; }
    33.33% { opacity: 0; }
    66.66% { opacity: 0; }
    100% { opacity: 1; }
}

.slider-image {
    animation: fadeSlide 9s infinite;
}

.slider-image:nth-child(1) {
    animation-delay: 0s;
}

.slider-image:nth-child(2) {
    animation-delay: 3s;
}

.slider-image:nth-child(3) {
    animation-delay: 6s;
}

.active hr {
    @apply block
}

@media (max-width:740px) {
    .active  p{
       @apply text-white bg-primary
    }
}

::-webkit-scrollbar {
    @apply hidden
}